body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

#game {
    background: #000;
    display: block;
    margin: 20px auto;
    border: 2px solid white;
}